# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.LinuxConversionExpert.iml
/projectSettingsUpdater.xml
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
.idea/
.vs/
# Build directories
LinuxConversionExpert.*/bin/
LinuxConversionExpert.*/obj/
LinuxConversionExpert/bin/
LinuxConversionExpert/obj/
# OpenRouter AI API Key
key.env
